// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.thin-divide {
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 15px;
}

.up-vote {
	border: 0;
	padding: 0;
	width: 15px;
	height: 14px;
	overflow: hidden;
	display: inline-block;
	background: top left no-repeat url(../images/uparrow_plain.png)
	cursor: pointer;
}

.up-vote:hover {
	border: 0;
	padding: 0;
	width: 15px;
	height: 14px;
	overflow: hidden;
	display: inline-block;
	background: top left no-repeat url(../images/uparrow_light.png)
	cursor: pointer;
}

